<div>
  <div style="margin: 50px;">
    <form>
      <div>
        <label> Buscador: </label><br>
        <input [(ngModel)]="search" type="text" placeholder="ingrese nombre personaje" name="search">
        <button (click)="buscar()">Buscar</button>
        <p *ngIf="loadingCharacters"> Cargando... </p>
      </div>
    </form>
    <div *ngIf="characters.length > 0">
      <h3>Resultados:</h3>
      <ng-container *ngFor="let character of characters">
        <div>
          <a [routerLink]="[ '/character/' + character.name]">{{character.name}}</a>
        </div>
      </ng-container>
    </div>
    <div *ngIf="!loadingBb">
      <h1 class="title">Breaking Bad</h1>
      <ng-container *ngFor="let temp of bbTemporadas">
        <div>
          <a [routerLink]="[ '/temporada/Breaking+Bad/' + temp]">Temporada {{temp}}</a>
        </div>
      </ng-container>
    </div>
    <div *ngIf="!loadingBcs">
      <h1 class="title">Better Call Saul</h1>
      <ng-container *ngFor="let temp of bcsTemporadas">
        <div>
          <a [routerLink]="[ '/temporada/Better+Call+Saul/' + temp]">Temporada {{temp}}</a>
        </div>
      </ng-container>
    </div>
  </div>
  <div style="margin: 50px;" *ngIf="loadingBcs && loadingBb">
    <h1> Cargando... </h1>
    <p style="color: red;" *ngIf="errorMessage"> {{ errorMessage }}</p>
  </div>
</div>
