<div>
  <div style="margin: 50px;">
    <form>
      <div>
        <label> Buscador: </label><br>
        <input [(ngModel)]="search" type="text" placeholder="ingrese nombre personaje" name="search">
        <button (click)="buscar()">Buscar</button>
        <p *ngIf="loadingCharacters"> Cargando... </p>
      </div>
    </form>
    <div *ngIf="characters.length > 0">
      <h3>Resultados:</h3>
      <ng-container *ngFor="let character of characters">
        <div>
          <a [routerLink]="[ '/character/' + character.name]">{{character.name}}</a>
        </div>
      </ng-container>
    </div>
    <div *ngIf="!loading">
      <h1 class="title">{{episode.series}}</h1>
      <h2>Temporada {{episode.season}}</h2>
      <h3>Episodio {{episode.episode}}: {{episode.title}}</h3>
      <p>Fecha lanzamiento {{episode.air_date | date:'longDate'}}</p>
      <h3>Personajes</h3>
      <ng-container *ngFor="let character of episode.characters">
        <div>
          <a [routerLink]="[ '/character/' + character]">{{character}}</a>
        </div>
      </ng-container>
      <br>
      <button (click)="back()">Volver</button>
    </div>
  </div>
  <div style="margin: 50px;" *ngIf="loading">
    <h2> Cargando... </h2>
    <p style="color: red;" *ngIf="errorMessage"> {{ errorMessage }}</p>
    <br>
    <button (click)="back()">Volver</button>
  </div>
</div>
