<div>
  <div style="margin: 50px;">
    <form>
      <div>
        <label> Buscador: </label><br>
        <input [(ngModel)]="search" type="text" placeholder="ingrese nombre personaje" name="search">
        <button (click)="buscar()">Buscar</button>
        <p *ngIf="loadingCharacters"> Cargando... </p>
      </div>
    </form>
    <div *ngIf="characters.length > 0">
      <h3>Resultados:</h3>
      <ng-container *ngFor="let character of characters">
        <div>
          <a (click)="recargar(character.name)" [routerLink]="[ '/character/' + character.name]">{{character.name}}</a>
        </div>
      </ng-container>
    </div>
    <div *ngIf="!loading">
      <h1>Personaje</h1>
      <h2 class="title">{{character.name}}</h2>
      <h3 class="title">Alias: {{character.nickname}}</h3>
      <img class="images" src={{character.img}} style="height: 200px; width: 160px;" />
      <h3 class="title">Actor: {{character.portrayed}}</h3>
      <h3>Ocupaciones</h3>
      <ul>
        <ng-container *ngFor="let ocupation of character.occupation">
          <li>{{ocupation}}</li>
        </ng-container>
      </ul>
      <h3>Estado: {{character.status}}</h3>
      <h3>Series:</h3>
      <ng-container *ngFor="let category of character.category">
        <li>{{category}}</li>
        <div *ngIf="getCategory(category, 'Breaking Bad')">
          <ng-container *ngFor="let temp of character.appearance">
            <div>
              <a [routerLink]="[ '/temporada/Breaking+Bad/' + temp]">Temporada {{temp}}</a>
            </div>
          </ng-container>
        </div>
        <div *ngIf="getCategory(category,'Better Call Saul')">
          <ng-container *ngFor="let bcs of character.better_call_saul_appearance">
            <div>
              <a [routerLink]="[ '/temporada/Better+Call+Saul/' + bcs]">Temporada {{bcs}}</a>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <div *ngIf="!loadingQuotes && quotes.length">
        <h3>Frases:</h3>

        <ng-container *ngFor="let quo of quotes">
          <div>
            <p>"{{quo.quote}}" ({{quo.series}}).</p>
          </div>
        </ng-container>
      </div>
      <div *ngIf="!loadingQuotes && !quotes.length">
        <h3>No tiene frases aún</h3>
      </div>
      <br>
      <button (click)="back()">Volver</button>
    </div>
  </div>
  <div style="margin: 50px;" *ngIf="loading || loadingQuotes">
    <h2> Cargando... </h2>
    <p style="color: red;" *ngIf="errorMessage"> {{ errorMessage }}</p>
    <br>
    <button (click)="back()">Volver</button>
  </div>
</div>
